finalmeli/py_mqtt/funciona.json
[{"id":"d765314b0b56384e","type":"tab","label":"Fluxo 1","disabled":false,"info":"","env":[]},{"id":"c80fcf5ada9b4fd4","type":"mqtt in","z":"d765314b0b56384e","name":"","topic":"dht/umidade","qos":"2","datatype":"auto-detect","broker":"23e7cf375f64e2e1","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":600,"wires":[["5819821138a69d10","24c5c145833d2966"]]},{"id":"f93d93d29d811f37","type":"mqtt in","z":"d765314b0b56384e","name":"","topic":"dht/temperatura","qos":"2","datatype":"auto-detect","broker":"4ac0169784f9ff1a","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":1140,"wires":[["8361791cd5320dfe","c95e9d1989da89bf"]]},{"id":"5819821138a69d10","type":"debug","z":"d765314b0b56384e","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg.payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":380,"wires":[]},{"id":"8361791cd5320dfe","type":"debug","z":"d765314b0b56384e","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":940,"wires":[]},{"id":"24c5c145833d2966","type":"ui_gauge","z":"d765314b0b56384e","name":"","group":"a5c03f84776d9ae3","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidade","label":"units","format":"{{value}}","min":"0","max":"100","colors":["#85c0ff","#4580f7","#002561"],"seg1":"","seg2":"","diff":false,"className":"","x":430,"y":820,"wires":[]},{"id":"23393f9765ccc908","type":"mqtt in","z":"d765314b0b56384e","name":"dht/temperatura","topic":"dht/temperatura","qos":"2","datatype":"utf8","broker":"2c676dfb37803e7e","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":60,"wires":[["de83622473ba706c"]]},{"id":"bcce487cfa883f3b","type":"mqtt in","z":"d765314b0b56384e","name":"dht/umidade","topic":"dht/umidade","qos":"2","datatype":"utf8","broker":"2c676dfb37803e7e","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":140,"wires":[["6c66993c82f1311f"]]},{"id":"de83622473ba706c","type":"function","z":"d765314b0b56384e","name":"Salvar Temp no Contexto","func":"global.set('temperatura', msg.payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":60,"wires":[[]]},{"id":"6c66993c82f1311f","type":"function","z":"d765314b0b56384e","name":"Salvar Umid no Contexto","func":"global.set('umidade', msg.payload);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":140,"wires":[[]]},{"id":"068aa697c362da7e","type":"http in","z":"d765314b0b56384e","name":"/dados/temperatura","url":"/dados/temperatura","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":120,"y":220,"wires":[["941ecbcecdad8461"]]},{"id":"1f1300849a878f09","type":"http in","z":"d765314b0b56384e","name":"/dados/umidade","url":"/dados/umidade","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":100,"y":280,"wires":[["74d18be36e5133b3"]]},{"id":"941ecbcecdad8461","type":"function","z":"d765314b0b56384e","name":"Carregar Temp do Contexto","func":"// Adiciona headers CORS para permitir acesso do navegador\nmsg.headers = {\n \"Access-Control-Allow-Origin\": \"*\",\n \"Access-Control-Allow-Methods\": \"GET, OPTIONS\",\n \"Access-Control-Allow-Headers\": \"Content-Type\",\n \"Content-Type\": \"application/json\"\n};\n\n// Carrega temperatura do contexto global\nconst temp = global.get('temperatura') || 0;\n\n// Formata payload como JSON\nmsg.payload = { \n \"temperatura\": parseFloat(temp)\n};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":220,"wires":[["32fb9ab3958db2d6"]]},{"id":"74d18be36e5133b3","type":"function","z":"d765314b0b56384e","name":"Carregar Umid do Contexto","func":"// Adiciona headers CORS para permitir acesso do navegador\nmsg.headers = {\n \"Access-Control-Allow-Origin\": \"*\",\n \"Access-Control-Allow-Methods\": \"GET, OPTIONS\",\n \"Access-Control-Allow-Headers\": \"Content-Type\",\n \"Content-Type\": \"application/json\"\n};\n\n// Carrega umidade do contexto global\nconst umid = global.get('umidade') || 0;\n\n// Formata payload como JSON\nmsg.payload = { \n \"umidade\": parseFloat(umid)\n};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":280,"wires":[["5612a652a6278d58"]]},{"id":"32fb9ab3958db2d6","type":"http response","z":"d765314b0b56384e","name":"http (200)","statusCode":"200","headers":{},"x":590,"y":220,"wires":[]},{"id":"5612a652a6278d58","type":"http response","z":"d765314b0b56384e","name":"http (200)","statusCode":"200","headers":{},"x":590,"y":280,"wires":[]},{"id":"6c1bce878cbd352b","type":"mqtt in","z":"d765314b0b56384e","name":"","topic":"b20/temperatura","qos":"2","datatype":"auto-detect","broker":"23e7cf375f64e2e1","nl":false,"rap":true,"rh":0,"inputs":0,"x":820,"y":460,"wires":[["a6f18ed84c9c9076","c614803728b4a871"]]},{"id":"a6f18ed84c9c9076","type":"debug","z":"d765314b0b56384e","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1140,"y":240,"wires":[]},{"id":"0b782f4686e4e78e","type":"mqtt in","z":"d765314b0b56384e","name":"","topic":"b20/temperatura","qos":"2","datatype":"utf8","broker":"2c676dfb37803e7e","nl":false,"rap":true,"rh":0,"inputs":0,"x":700,"y":60,"wires":[["e85f630605bedff7"]]},{"id":"e85f630605bedff7","type":"function","z":"d765314b0b56384e","name":"Salvar temp","func":"global.set('temperatura', msg.payload);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":60,"wires":[[]]},{"id":"e3950f48d6458293","type":"http in","z":"d765314b0b56384e","name":"/dados/temperatura2","url":"/dados/temperatura2","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":730,"y":140,"wires":[["b8f5d7fdbae566b2"]]},{"id":"b8f5d7fdbae566b2","type":"function","z":"d765314b0b56384e","name":"carregar temp","func":"// Adiciona headers CORS para permitir acesso do navegador\nmsg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\",\n    \"Access-Control-Allow-Methods\": \"GET, OPTIONS\",\n    \"Access-Control-Allow-Headers\": \"Content-Type\",\n    \"Content-Type\": \"application/json\"\n};\n\n// Carrega temperatura do contexto global\nconst temp = global.get('temperatura') || 0;\n\n// Formata payload como JSON\nmsg.payload = {\n    \"temperatura\": parseFloat(temp)\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":140,"wires":[["2c530c4f13be9cb6"]]},{"id":"2c530c4f13be9cb6","type":"http response","z":"d765314b0b56384e","name":"http (200)","statusCode":"200","headers":{},"x":1260,"y":140,"wires":[]},{"id":"c95e9d1989da89bf","type":"ui_gauge","z":"d765314b0b56384e","name":"","group":"a5c03f84776d9ae3","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura2","label":"units","format":"{{value}}","min":"-10","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":480,"y":1320,"wires":[]},{"id":"c614803728b4a871","type":"ui_chart","z":"d765314b0b56384e","name":"","group":"a5c03f84776d9ae3","order":1,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-5","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0060fa","#002aff","#001eff","#0033ff","#0011ff","#2845d7","#006eff","#001eff","#0055ff"],"outputs":1,"useDifferentColor":false,"className":"","x":1110,"y":760,"wires":[[]]},{"id":"23e7cf375f64e2e1","type":"mqtt-broker","name":"mqtt://localhost:1883","broker":"mqtt://localhost:1883","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"4ac0169784f9ff1a","type":"mqtt-broker","name":"mqtt://localhost:1883","broker":"mqtt://localhost:1883","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"a5c03f84776d9ae3","type":"ui_group","name":"Dados do Sensor","tab":"57fa3188b8b28c71","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"2c676dfb37803e7e","type":"mqtt-broker","name":"MQTT Local","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"57fa3188b8b28c71","type":"ui_tab","name":"Dashboard da Colmeia","icon":"dashboard","disabled":false,"hidden":false},{"id":"526fdc602f929cfd","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]